<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SteamHub API</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <h1 style="color:white">欢迎来到 SteamHub API 站点</h1>
  </section>
</body>
</html>
